.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100%; 
  font-family: 'Poppins', sans-serif;
}

.calendar-container {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.calendar-header {
  position: relative;
  height: 250px;
  padding: 30px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.calendar-header ul li:first-child {
  display: flex;
  justify-content: space-between; /* Botones a los extremos */
  align-items: center;
  width: 100%;
}

.calendar-header h2 {
  margin: 0;
  position: absolute;
  top: 30px;          /* Ajusta según quieras separarlo del borde superior */
  left: 50%;
  transform: translateX(-50%);
}

.calendar-header h3 {
  margin: 10px 0 0 0; /* Debajo del h2, ajusta el margen superior si quieres */
  text-align: center;
}

.calendar-header button {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.calendar-days {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
  
  &:nth-child(7) {
    color: #ff685d;
  }
}

.calendar-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
  border-radius: 2px;

  &:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }

}

.calendar-number.today
{
    background-color: #009688;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}

.calendar-number.past-day
{
  color: grey;
    &:nth-child(7n) {
    color: #FF918A;
    font-weight: 700;
  }
}

.calendar-number.working-day{
    color: #FA2020;  
}

.calendar-number.free-day{
    color: #479933;  
}

.available-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.check-available{
  margin-top: 10%;
  width: 200px;
  max-width: 250px;
  background: linear-gradient(45deg, #252424);
  color: whitesmoke;
  border-color: whitesmoke;
  border: 1px solid;
  padding: 12px 24px;
  border-radius: 10px;     
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.3s ease;
  background-size: 200% auto; 
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  margin-left: 10%;
}

.check-available:hover {
  background-position: right center; 
  background: #fa7e1e;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.35);
}


