.mainMenu{
  animation: fade 0.5s ease-out forwards;
  text-align: center;
  margin-top: 30px;
}

/* contenedor */
.flip-card {
  perspective: 1000px; 
  width: 300px;
  height: 300px;
  margin: 0 auto 30px auto; /* centrado + separación */
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* caras */
.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0.5, 0, 0, 0.5);
} 

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 5px;
}

.flip-card-front img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  background: white;
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  background-color: #242424;
}

/* reverso */
.flip-card-back {
  transform: rotateY(180deg);
}

.imgPortada{
  width:  160px;
  height: 160px;
  background: grey;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0.5, 0, 0, 0.5);
}

.googleMaps{
  margin-top: 10px;
  width:  200px;
  height: 200px;
  border-radius: 2%; 
}

.contact-box {
  display: flex;
  justify-content: center;
}

.ul-contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-contact {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 4px; 
}

.li-contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; 
}

.li-contact a:hover {
  opacity: 0.8; 
}

.tattocover{
  display: flex;         
  gap: 10px;             
  justify-content: center; 
  align-items: center;   
}

.fuente{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 50px;
}

.descripcion{
  width:  300px;
  display: inline-block;
  margin-bottom: 30px;
}

.zona-zero-logo {
  width: 30px;
  height: 30px;
}

.zona-zero-info {
  display: flex;                   
  justify-content: center; 
  align-items: center;   
  gap: 4px; 
  margin-bottom: 0px;
}

.zona-zero-location {
  margin-bottom: 0px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;             
  }
}