#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .app-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.app-content.menu-open {
  margin-left: 200px; 
} */